<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
<<<<<<< HEAD
    <h1>Pig Latinizer!</h1>
      <form method="post" action="/piglatinize">
        <p>Enter your phrase:</p>
        <textarea name="params[:user_phrase]"></textarea>
=======
    <h1>Pig Latinizer</h1>
      <form method="post" action="/piged">
        <p>Input the text you want PigLatinized here:</p>
        <textarea name="user_text"></textarea>
>>>>>>> 698407331953f95848b8f6620e91e296637fb535
        <br>
        <button type="submit" value="submit">Submit</button>
      </form>

  </body>
</html>
